a {
  color: #731111 !important;
}
.banner {
  margin-top: -1rem;
}
h1, h2, h3 {
    font-family: 'Montserrat';
    color: #333;
}
h1 {
  border-bottom: 1px solid #731111;
}
figure {
  float: right;
}