{{ define "main" }}
{{ $resources := .Resources.ByType "image" }}
  <main class="block-container flex--justify-center">
    <div class="block tablet-up-8">
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "1400x300 top q70" }}
              <img class="w-100" src="{{ $resized.Permalink }}" loading="lazy" alt="{{ $resized.Name }}" />
          {{ end }}
      {{ end }}
      <h1 class="text--red mb-2">{{ .Title }}</h1>
      <div class="mb-3"><span class="text--bold">Process:</span> {{ .Params.process }} 
        <span href="{{ .Permalink }}" class="pill pill--split ml-3">
          <div class="pill__label px-2 py-0"><i class="pi-credit-card-back text--green"></i></div>
          <div class="pill__content px-2 py-0 text--green text--bold text--size-sm">{{ .Params.price }}/lb.</div>
        </span>
      </div>
      {{ .Content }}
      <h4>Images</h4>
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200" }}
              <img class="m-2" src="{{ $resized.Permalink }}" loading="lazy" alt="{{ $resized.Name }}" />
          {{ end }}
      {{ end }}
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200 r180" }}
              <img class="m-2" src="{{ $resized.Permalink }}" loading="lazy" alt="{{ $resized.Name }}" />
          {{ end }}
      {{ end }}
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200 bottomright" }}
              <img class="m-2" src="{{ $resized.Permalink }}" loading="lazy" alt="{{ $resized.Name }}" />
          {{ end }}
      {{ end }}
      <br/>
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200" }}
              {{ $sample := $resized.Filter (images.GaussianBlur 8) }}
              <img class="m-2" src="{{ $sample.Permalink }}" loading="lazy" alt="{{ $sample.Name }}" />
          {{ end }}
      {{ end }}
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200" }}
              {{ $sample := $resized.Filter (images.Grayscale) }}
              <img class="m-2" src="{{ $sample.Permalink }}" loading="lazy" alt="{{ $sample.Name }}" />
          {{ end }}
      {{ end }}
      {{ if .Params.image }}
          {{ with .Params.image }}
              {{ $imageResource := $resources.GetMatch ( . ) }}
              {{ $resized := $imageResource.Fill "300x200" }}
              {{ $sample := $resized.Filter (images.Hue 160) }}
              <img class="m-2" src="{{ $sample.Permalink }}" loading="lazy" alt="{{ $sample.Name }}" />
          {{ end }}
      {{ end }}
    </div>
  </main>
{{ end }}